body {
    font-family: Arial, sans-serif;
    background-color: #02253B;
    color: white;
    text-align: center;
    padding: 20px;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    color: black;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #02253B;
    color: white;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #02253B;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #7135A1;
}
a {
    text-decoration: none;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#filtros {
    margin-top: 20px;
}
header {
    background-color: transparent;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 100px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.contadores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 50%;
}

.contador { /* Estilos comuns para todos os contadores */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave (opcional) */
}

/* Degradês azuis diferentes para CADA CONTADOR (CORREÇÃO AQUI!) */
.contador:nth-child(1) { /* Seleciona o primeiro contador (Z) */
    background: linear-gradient(to bottom right, #072c42, #063552);
}

.contador:nth-child(2) { /* Seleciona o segundo contador (C) */
    background: linear-gradient(to bottom right, #072c42, #063552);
}

.contador:nth-child(3) { /* Seleciona o terceiro contador (T) */
    background: linear-gradient(to bottom right, #072c42, #063552);
}
.contador:nth-child(4) { /* Seleciona o terceiro contador (T) */
    background: linear-gradient(to bottom right, #072c42, #063552);
}

.titulo-contador {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
#filtroStatus{
    padding: 10px;
    border-radius: 5px;
    color: #5c5c5c;
}
.modal {
    display: none; /* Esconder o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  .modal input{
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #02253B;
    }
    .modal select{
        width: 95%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #02253B;
    }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    margin-top: 120px;
    border-radius: 10px;
  }
  .modal h2 {
    color: #02253B;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* Remove o traço do link */
a {
    text-decoration: none;
}